### Julia SQLite
#####  SQL - Structured Query Language
 ---- Using Sqlite in Julia

+ Pkg.add("SQLite")

##### Main Aspects
+ DDL - Data Definition ==> CREATE,ALTER,DROP
+ DML - Data Manipulation ==> INSERT,UPDATE,DELETE
+ DQL - Data Query ==> SELECT

###### Jl Tip
+ + SQLite.DB ==> Connect /Create
+ + SQLite.execute!(db,"") ==> All the manipulations
+ + SQLite.query ==> All the querying eg SELECT,reading file
+ + SQLite.register ==>  implement your own Scalar Functions

In [1]:
using SQLite

WARNING: Method definition midpoints(Base.Range{T} where T) in module Base at deprecated.jl:56 overwritten in module StatsBase at /home/rooot/.julia/v0.6/StatsBase/src/hist.jl:535.
WARNING: Method definition midpoints(AbstractArray{T, 1} where T) in module Base at deprecated.jl:56 overwritten in module StatsBase at /home/rooot/.julia/v0.6/StatsBase/src/hist.jl:533.
WARNING: Method definition ==(Base.Nullable{S}, Base.Nullable{T}) in module Base at nullable.jl:238 overwritten in module NullableArrays at /home/rooot/.julia/v0.6/NullableArrays/src/operators.jl:99.

In [2]:
whos(SQLite)

                     @register      0 bytes  SQLite.#@register
                       @sr_str      0 bytes  SQLite.#@sr_str
                          Data     45 KB     Module
                     DataFrame    164 bytes  DataType
                        SQLite    184 KB     Module
                      register      0 bytes  SQLite.#register

In [3]:
# Connecting to/Creating a database
db = SQLite.DB("EmployementDB.db")

SQLite.DB("EmployementDB.db")

In [4]:
# Creating A Table inside the Database
SQLite.execute!(db,"CREATE TABLE IF NOT EXISTS workers( id REAL,name TEXT, age REAL,position TEXT)")

101

In [5]:
# Check for Avaliable tables
SQLite.tables(db)

1×1 DataFrames.DataFrame
│ Row │ name      │
├─────┼───────────┤
│ 1   │ "workers" │

In [6]:
# Inserting a Data
SQLite.execute!(db,"INSERT INTO workers(id,name,age,position) VALUES(1,'John',2,'Sales Manager')")

101

In [7]:
# Inserting Multiple Data
SQLite.execute!(db,"INSERT INTO workers(id,name,age,position) VALUES
    (2,'Jane',27,'Human Resource Manager'),
    (3,'Jesse',24,'IT Manager'),
    (4,'Paul',31,'Sales Manager'),
    (5,'Kofi',26,'IT Manager'),
    (6,'Peter',27,'Human Resource Manager'),
    (7,'Vlad',34,'Sales Manager'),
    (8,'Krishna',36,' Security'),
    (9,'Mary',23,'Secretary'),
    (10,'Ayo',30,'Sales Manager')
    ")

101

In [8]:
# Find the columns
SQLite.columns(db,"workers")

4×6 DataFrames.DataFrame
│ Row │ cid │ name       │ type   │ notnull │ dflt_value │ pk │
├─────┼─────┼────────────┼────────┼─────────┼────────────┼────┤
│ 1   │ 0   │ "id"       │ "REAL" │ 0       │ #NULL      │ 0  │
│ 2   │ 1   │ "name"     │ "TEXT" │ 0       │ #NULL      │ 0  │
│ 3   │ 2   │ "age"      │ "REAL" │ 0       │ #NULL      │ 0  │
│ 4   │ 3   │ "position" │ "TEXT" │ 0       │ #NULL      │ 0  │

In [9]:
# Selecting /Reading from the DB
SQLite.query(db,"SELECT * FROM workers")

10×4 DataFrames.DataFrame
│ Row │ id   │ name      │ age  │ position                 │
├─────┼──────┼───────────┼──────┼──────────────────────────┤
│ 1   │ 1.0  │ "John"    │ 2.0  │ "Sales Manager"          │
│ 2   │ 2.0  │ "Jane"    │ 27.0 │ "Human Resource Manager" │
│ 3   │ 3.0  │ "Jesse"   │ 24.0 │ "IT Manager"             │
│ 4   │ 4.0  │ "Paul"    │ 31.0 │ "Sales Manager"          │
│ 5   │ 5.0  │ "Kofi"    │ 26.0 │ "IT Manager"             │
│ 6   │ 6.0  │ "Peter"   │ 27.0 │ "Human Resource Manager" │
│ 7   │ 7.0  │ "Vlad"    │ 34.0 │ "Sales Manager"          │
│ 8   │ 8.0  │ "Krishna" │ 36.0 │ " Security"              │
│ 9   │ 9.0  │ "Mary"    │ 23.0 │ "Secretary"              │
│ 10  │ 10.0 │ "Ayo"     │ 30.0 │ "Sales Manager"          │

In [11]:
SQLite.query(db,"SELECT name FROM workers WHERE age = 24")

1×1 DataFrames.DataFrame
│ Row │ name    │
├─────┼─────────┤
│ 1   │ "Jesse" │

In [12]:
# Connecting to A Database File
db1 = SQLite.DB("chinook.db")

SQLite.DB("chinook.db")

In [13]:
SQLite.tables(db1)

13×1 DataFrames.DataFrame
│ Row │ name              │
├─────┼───────────────────┤
│ 1   │ "albums"          │
│ 2   │ "sqlite_sequence" │
│ 3   │ "artists"         │
│ 4   │ "customers"       │
│ 5   │ "employees"       │
│ 6   │ "genres"          │
│ 7   │ "invoices"        │
│ 8   │ "invoice_items"   │
│ 9   │ "media_types"     │
│ 10  │ "playlists"       │
│ 11  │ "playlist_track"  │
│ 12  │ "tracks"          │
│ 13  │ "sqlite_stat1"    │

In [14]:
SQLite.query(db1,"SELECT * FROM artists")

275×2 DataFrames.DataFrame
│ Row │ ArtistId │
├─────┼──────────┤
│ 1   │ 1        │
│ 2   │ 2        │
│ 3   │ 3        │
│ 4   │ 4        │
│ 5   │ 5        │
│ 6   │ 6        │
│ 7   │ 7        │
│ 8   │ 8        │
│ 9   │ 9        │
│ 10  │ 10       │
│ 11  │ 11       │
⋮
│ 264 │ 264      │
│ 265 │ 265      │
│ 266 │ 266      │
│ 267 │ 267      │
│ 268 │ 268      │
│ 269 │ 269      │
│ 270 │ 270      │
│ 271 │ 271      │
│ 272 │ 272      │
│ 273 │ 273      │
│ 274 │ 274      │
│ 275 │ 275      │

│ Row │ Name                                                                                 │
├─────┼──────────────────────────────────────────────────────────────────────────────────────┤
│ 1   │ "AC/DC"                                                                              │
│ 2   │ "Accept"                                                                             │
│ 3   │ "Aerosmith"                                                                          │
│ 4   │ "Alanis Morissette"                                                                  │
│ 5   │ "Alice In Chains"                                                                    │
│ 6   │ "Antônio Carlos Jobim"                                                              │
│ 7   │ "Apocalyptica"                                                                       │
│ 8   │ "Audioslave"                                                                         │
│ 9   │ "BackBeat"                                                                           │
│ 10  │ "Billy Cobham"                                                                       │
│ 11  │ "Black Label Society"                                                                │
⋮
│ 264 │ "Kent Nagano and Orchestre de l'Opéra de Lyon"                                      │
│ 265 │ "Julian Bream"                                                                       │
│ 266 │ "Martin Roscoe"                                                                      │
│ 267 │ "Göteborgs Symfoniker & Neeme Järvi"                                               │
│ 268 │ "Itzhak Perlman"                                                                     │
│ 269 │ "Michele Campanella"                                                                 │
│ 270 │ "Gerald Moore"                                                                       │
│ 271 │ "Mela Tenenbaum, Pro Musica Prague & Richard Kapp"                                   │
│ 272 │ "Emerson String Quartet"                                                             │
│ 273 │ "C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu" │
│ 274 │ "Nash Ensemble"                                                                      │
│ 275 │ "Philip Glass Ensemble"                                                              │

In [ ]:
# THANKS
# Jesus Saves @ JCharisTech
# J-Secur1ty